/*footer posun*/
footer{
    margin: 500px 0px 0px 0px;
    padding: 0px 15px 34px 15px;
    background-color: #884d93;
}
/*tabulka*/
table, th, td {
    border: 3px solid rgb(197, 140, 194);
    border-collapse: collapse;
    align-items: center;
    color: white;
    font-size: 120%;
}
table{
    margin-left: auto;
    margin-right: auto;
}

#space{
    background-color: #884d93;
}
