@media only screen and (max-width: 980px){
   body{
       width: 100%;
   }
   table{
      overflow-x:auto;
      width: 75%;
   }
   tr, td{
      font-size: 50%;
   }
   main{
    margin-left: 10px;
    margin-right: 10px;
   }
}
