/*telo*/
body{
    background-color: #382e49;
}
/*headline 1*/
h1{
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 300%;
}
h2{
    color: rgb(255, 255, 255);
    padding: 10px;
    border: 1px solid rgb(255, 255, 255);
}
p{
    color: white;
    text-align: left;
}
/*main*/
main{
    margin-left: 60px;
    margin-right: 60px;
}
/*nasměrování div*/
.grid-container {
    display: grid;
    column-gap: 5px;
    row-gap: 5px;
    padding: 5px;
    text-align: left;
    justify-content: center;
}
  
.grid-container > div {
    font-size: 15px;
}
/* img container */
.column {
    float: left;
    padding: 5px;
}
 .columnsmaller {
    float: left;
    width: 10%;
    height: 10%;
    padding: 5px;
    margin: 0px 100px
}
/* obrázky vedle sebe */
.row::after {
    content: "";
    clear: both;
    display: table;
}
.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
  
.column {
    flex: 33.33%;
    padding: 5px;
}
footer{
    padding: 0px 15px 34px 15px;
    background-color: #884d93;
}
b{
    font-size: 110%;
}
a{
    color: white;
}
footer > div{
 justify-self: center;
}
