/*div container link*/
#mySidenav a {
    position: fixed;
    left: -80px;
    transition: 0.3s;
    padding: 15px;
    width: 100px;
    text-decoration: none;
    font-size: 20px;
    color: white;
    border-radius: 0 5px 5px 0;
}
/*posun do leva*/
#mySidenav a:hover {
    left: 1px;
    background-color: black;
}

/*linky na záložky*/
#HlaStr{
    top: 20px;
    background-color: #884d93;
}
#Prog {
    top: 90px;
    background-color: #884d93;
}

#OS {
    top: 180px;
    background-color: #884d93;
}

#AplSof {
    top: 250px;
    background-color: #884d93;
    }

#CloudRes {
    top: 320px;
    background-color: #884d93;
}
#SofLic{
    top: 380px;
    background-color: #884d93;
}
#EmuViz{
    top: 440px;
    background-color: #884d93;
}